
html, body {
    margin: 0;
    padding: 0;


}

body{
    background-color: black;
}

#language{
    min-width:200px;
    padding:6px;
}



#languageRule {
      cursor: pointer;
      appearance: none;
      background-repeat: no-repeat;
      padding-right: 400px;
      border-radius: 5px;
    }

.chatRoom{
    display:flex;
    flex-direction:row;
    gap:128px;
    padding:20px;
    background-color: rgb(203, 203, 203);
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    min-height: 40px;
  
}

.newChatRoom{
    display:flex;
    flex-direction:row;
    padding:20px;
    background-color: rgb(203, 203, 203);
    justify-content:center;
    align-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #b0777a;

  
}

.lobbyHeader{
    background-color: #CD212A;
    text-align: center;
    outline: 1px black solid;
    font-family:sans-serif;
    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    justify-content:center;
    min-height: 100px;
   
}


.btn{
    margin-top: 0px;
    margin:10px;
    background-color: #CD212A;
    border-style: none;
    border-radius: 3px;
    padding:10px;
    min-width:60px;


}
.navButton{
    margin:2px;
    padding:24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border:none;
}

.btn:hover {
    transform: scale(1.01);
}
.btn:active{
     background: linear-gradient(135deg, #de4f86, #CD212A); 
}

.chatRoomLobbyList{
    display:flex;
    flex-direction: column;
    background-color: rgba(173, 172, 172, 0.493);
    width:100%;
    height:100%;
    border: 1px black solid;
    font-family:sans-serif;
    overflow:auto;
    scrollbar-width: thin;

    


}
.horizontalLayout{
    display:flex;
    flex-direction: row;
     flex: 1;               /* THIS IS IMPORTANT */
    overflow: hidden;

}
.mainVerticalLayout{
    display: flex;
    flex-direction: column;
     height: 100vh;
}

.centerLayout{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; 

}


.sideNavBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:270px;
   
    padding: 10px;
    overflow: hidden;
    transition: width 0.4s ease;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-right:1px;
    font-family:sans-serif;


    

}

.navButton{
    border-radius:3px;
}

.navButton:hover{
    transform:scale(1.02);
    background-color: rgb(228, 228, 228);
}
.navButton:active{
    background-color: rgb(234, 234, 234);
}

.horizontalGroup{
    display:flex;
    flex-direction: row;
}

/* collapsed state */
#nav-toggle:checked ~ .sideNavBar {
    width: 90px;
    min-width: 90px;
}

#sideToggle:checked ~ .horizontalLayout .sideNavBar button {
    opacity: 0;
}
