
html, body {
    margin: 0;
    padding: 0;


}

body{
    background-color: black;
}

#language{
    min-width:200px;
    padding:6px;
}
.chatRoom{
    display:flex;
    flex-direction:row;
    gap:128px;
    padding:20px;
    background-color: rgb(203, 203, 203);
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  
}

.newChatRoom{
    display:flex;
    flex-direction:row;
    padding:20px;
    background-color: rgb(203, 203, 203);
    justify-content:space-evenly;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.lobbyHeader{
    background-color: rgba(202, 10, 10, 0.788);
    text-align: center;
    outline: 1px black solid;
    font-family:sans-serif;
    color:white;
}


.btn{
    margin-top: 0px;
    margin:10px;
    background-color: #CD212A;
    background: linear-gradient(135deg, #db2f71, #CD212A); 
    border-style: none;
    border-radius: 3px;
    padding:10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    min-width:60px;


}
.navButton{
    margin:2px;
    padding:24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border:none;
}

.btn:hover {
    transform: scale(1.01);
}
.btn:active{
     background: linear-gradient(135deg, #de4f86, #CD212A); 
}

.chatroomLobbyList{
    display:flex;
    flex-direction: column;
    background-color: rgba(173, 172, 172, 0.493);
    width:100%;
    height:100%;
    border: 1px black solid;
    font-family:sans-serif;

    


}
.horizontalLayout{
    display:flex;
    flex-direction: row;
     flex: 1;               /* THIS IS IMPORTANT */
    overflow: hidden;

}
.mainVerticalLayout{
    display: flex;
    flex-direction: column;
     height: 100vh;
}

.centerLayout{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; 

}


.sideNavBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:270px;
    min-width: 270px;
    padding: 10px;
    overflow: hidden;
    transition: width 0.4s ease;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-right:3px;
    font-family:sans-serif;
    

}

/* collapsed state */
#nav-toggle:checked ~ .sideNavBar {
    width: 90px;
    min-width: 90px;
}

#sideToggle:checked ~ .horizontalLayout .sideNavBar button {
    opacity: 0;
}
