#chat_Box{
    outline: 12px;
    max-width: 800px;
    min-width: 800px;
    min-height: 100px;
    background-color: rgb(192, 53, 53);
}

.user_Profile_Picture{
    outline-width: 5px;
    background-color: aquamarine;
    padding:10px;
   
}

.text_Container{
   align-items:center;
   align-content: center;
   padding:10px;
   
}

.chat_Container{
    display:flex;
    flex-direction:row;
    

}

.vertical_flex{
    display:flex;
    flex-direction:column;
    padding-right: 5px;
    
}