<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='lobby.css') }}"
    />
  </head>
  <body>
    <div class="mainVerticalLayout">
      <div class="horizontalLayout">
        <div class="sideNavBar">
          <h2>ItalianChat</h2>

          <button class="navButton">Lobby</button>
          <button class="navButton">User Profile</button>
          <button class="navButton">Admin - Coming Soon!...</button>
          <button class="navButton">Calender</button>
          <form action="{{ url_for('logout') }}" method="post">
            <button class="btn" type="submit">Log Out</button>
          </form>
        </div>
        <div class="centerLayout">
          <div class="chatRoomLobbyList">
            <div class="lobbyHeader">
              <h3>Chatrooms</h3>
              <form id="form">
                <input
                  type="search"
                  id="query"
                  name="q"
                  placeholder="Search..."
                />
                <button class=".searchRoomBtn">Search</button>
              </form>
            </div>

            <div class="newChatRoom">
              <form class="roomInputForm">
                <select class="languageRule" name="language" id="language">
                  <option value="Italian">Italian Only</option>
                  <option value="English">English Only</option>
                  <option value="Mixed">Italian/English</option>
                </select>
                <input
                  class="chatRoomName"
                  name="Room Name"
                  placeholder="New Room"
                />
                <input
                  class="maxRoomNumber"
                  name="RoomSize"
                  id="roomSize"
                  placeholder="0"
                />
                <input
                  class="btn"
                  type="button"
                  onclick="addChatRoomBtn()"
                  value="+ Create Room"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var roomCounter = 0;
  function addChatRoomBtn() {
    event.preventDefault();

    var x = document.forms["roomInputForm"]["roomSize"].value;
    if (isNaN(x)) {
      alert("Must input numbers");
      return;
    }

    const container = document.querySelector(".chatRoomLobbyList");
    const chatRoomDiv = document.createElement("div");

    const roomName = document.querySelector(".chatRoomName").value;
    const occupancy = document.querySelector(".maxRoomNumber").value;
    const language = document.querySelector(".languageRule").value;

    if (!roomName || !occupancy) {
      //check if room with same name already exists
      //check that occupancy input is only numerical, and cannot be any number of only 0's
      alert("Please enter a valid room name and max room size");
      return;
    }

    chatRoomDiv.className = "chatRoom";
    chatRoomDiv.innerHTML = `
      <h4>Language: ${language || "Any"}</h4>
      <h4>Room: ${roomName || "New Chatroom"}</h4>
      <h4>Users: 0/${occupancy || "N/A"}</h4>
      <h4>Room ID:  </h4>
      <button class="enterBtn btn">Join Room</button>
`;

    roomCounter += 1;
    if (roomCounter >= 10) {
      window.alert("Lobby is Full!");
      return;
    }

    container.appendChild(chatRoomDiv);
  }
</script>
